<div class="description">
    A categorised directory of
    <%=
    case type
        when :free then 'free libraries and tools'
        when :paid then 'paid libraries and tools'
        when :demo then 'demo projects'
    end
    %>
    for Android</div>

<% categories.sort.each_with_index do |(category, projects), index|%>
    <%='</div>' if index > 0 && index % 3 == 0 %>
    <%='<div class="row">' if index % 3 == 0 %>
        <div class="col-md-4">
            <h4><%= category %></h4>
            <ul><% projects.each do |project| %>
                <li><a href="<%= project['url'] %>"><%= project[ 'name'] %></a></li><% end %>
            </ul>
        </div>
<% end %>
    <%='</div>' if categories.length>0 %>
