<h1><%= title %></h1>

<% categories.sort.each_with_index do |(category, projects), index|%>
    <%='</div>' if index > 0 && index % 3 == 0 %>
    <%='<div class="row">' if index % 3 == 0 %>
        <div class="col-md-4">
            <h2><%= category %></h2>
            <ul><% projects.each do |project| %>
                <li><a href="<%= project['url'] %>" target="_blank"><%= project[ 'name'] %></a></li><% end %>
            </ul>
        </div>
<% end %>
    <%='</div>' if categories.length>0 %>
